[submodule "src/topic_recorder"]
    path = src/topic_recorder
    url = https://github.com/PnX-HKUSTGZ/topic_recorder.git
    branch = main
[submodule "src/auto-aim"]
    path = src/auto-aim
    url = https://github.com/PnX-HKUSTGZ/auto-aim.git
    branch = Pnx-25-sentry
[submodule "src/vision_bringup"]
    path = src/vision_bringup
    url = https://github.com/PnX-HKUSTGZ/vision_bringup.git
    branch = sentry
[submodule "src/rm_serial_driver"]
    path = src/rm_serial_driver
    url = https://github.com/PnX-HKUSTGZ/rm_serial_driver.git
    branch = sentry
[submodule "src/hik-driver"]
    path = src/hik-driver
    url = https://github.com/PnX-HKUSTGZ/hik-driver.git
    branch = dev
[submodule "src/rm_gimbal_description"]
    path = src/rm_gimbal_description
    url = https://github.com/PnX-HKUSTGZ/rm_gimbal_description.git
    branch = main
[submodule "src/video_reader"]
    path = src/video_reader
    url = https://github.com/PnX-HKUSTGZ/video_reader.git
    branch = dev
[submodule "third_party_install"]
    path = third_party_install
    url = https://github.com/PnX-HKUSTGZ/auto_aim_third_party_install.git
    branch = main
[submodule "src/auto_aim_interfaces"]
	path = src/auto_aim_interfaces
	url = https://github.com/PnX-HKUSTGZ/auto_aim_interfaces.git
	branch = main
